@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
 /*Primary*/
	--Soft-red: hsl(10, 79%, 65%);
	--Cyan: hsl(186, 34%, 60%);
 /**### Neutral*/
	--Dark-brown: hsl(25, 47%, 15%);
	--Medium-brown: hsl(28, 10%, 53%);
	--Cream: hsl(27, 66%, 92%);
	--Very-pale-orange: hsl(33, 100%, 98%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

body {
	background-color: var(--Cream);
	color: var(--Dark-brown);
}
.container{
	padding: 1rem;
	border-radius: 20px;
	
}
/*flex*/
.flex{
  display:flex;
}
/*center container*/
.wrap-flex{
  height:100vh;
  align-items: center;
  justify-content: center;
  
}
.card-container{
	width: 300px;
	height: 60%;
	gap: 1rem;
    flex-direction: column;
}
/*balance*/
.balance{
	background-color: var(--Soft-red);
	color: white;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.balance-value::before{
	content:'My balance';
	font-size: 10px;
	display:block;
	top: 15px;
}
/*stat container*/
.stat-container{
	background-color: white;
}
.stat-container >*{
	padding:1rem;
}
.weekly-expenses{
	justify-content: center;
	gap: 3px;
	align-self: end;
}
.daily{
	align-self:flex-end;
	width: 50px;
	flex-direction: column;
	align-items:center;
}
.day{
	font-size: 10px;
	color: var(--Medium-brown);
}
.day-expenses{	
	width: 100%;
	border-radius: 5px;
}
[data-title]:hover:after {
	visibility: visible;
}
  
[data-title]:after {
	content: attr(data-title);
	background-color: var(--Dark-brown);    
	color: white;
	font-size: 10px;
	position: absolute;
	padding: 2px;
	visibility: hidden;
	/*! top: 20px; */
	transform: translateY(-25px);
	border-radius: 3px;
}
.daily:hover{
	cursor: pointer;
}
/*total*/
.total{
	border-top: 1px solid var(--Medium-brown);
	justify-content: space-between;
	align-items: center;
}
.current-month::before{
	content:'Total this month';
	color: var(--Medium-brown);
	font-size: 10px;
	display:block;
}
.last-month::after{
	content:'from last month';
	font-size: 10px;
	display:block;
    color: var(--Medium-brown);
}
@media (max-width:400px) {
	.card-container{
		width:90%;
	}
}